RewriteEngine on
RewriteRule ^post/dessert-fruit-pizza.aspx$ /dessert-fruit-pizza.html [R=301,NC]
RewriteRule ^post/kofta-curry.aspx$ /kofta-curry.html [R=301,NC]
RewriteRule ^post/dahi-ki-khadi.aspx$ /dahi-ki-khadi.html [R=301,NC]
RewriteRule ^post/chicken-samosa.aspx$ /chicken-samosa.html [R=301,NC]
RewriteRule ^post/welcome-to-sizzling-dishes-youtube-channel.aspx$ /welcome-to-sizzling-dishes-youtube-channel.html [R=301,NC]
RewriteRule ^post/aloo-gosht-korma-lamb-and-potato-curry.aspx$ /aloo-gosht-korma-lamb-and-potato-curry.html [R=301,NC]
RewriteRule ^post/lamb-seekh-kebabs-or-lamb-skewers.aspx$ /lamb-seekh-kebabs-or-lamb-skewers.html [R=301,NC]
RewriteRule ^post/italian-pasta-with-indian-touch.aspx$ /italian-pasta-with-indian-touch.html [R=301,NC]
RewriteRule ^post/kebabskoftas-shikampur-kebabs.aspx$ /kebabskoftas-shikampur-kebabs.html [R=301,NC]
RewriteRule ^post/cauliflower-curry.aspx$ /cauliflower-curry.html [R=301,NC]
RewriteRule ^post/green-beans-curry-with-lamb.aspx$ /green-beans-curry-with-lamb.html [R=301,NC]
RewriteRule ^post/ummari-.aspx$ /ummari-.html [R=301,NC]
RewriteRule ^post/kofta-biryani.aspx$ /kofta-biryani.html [R=301,NC]
RewriteRule ^post/masala-dosa.aspx$ /masala-dosa.html [R=301,NC]
RewriteRule ^post/masala-dosa-filling(potato-masala).aspx$ /masala-dosa-filling(potato-masala).html [R=301,NC]
RewriteRule ^post/coconut-chutney.aspx$ /coconut-chutney.html [R=301,NC]
RewriteRule ^post/chinese-stir-fried-noodles-with-shrimp.aspx$ /chinese-stir-fried-noodles-with-shrimp.html [R=301,NC]
RewriteRule ^post/chicken-corn-soup.aspx$ /chicken-corn-soup.html [R=301,NC]
RewriteRule ^post/kheema-or-mince-puff.aspx$ /kheema-or-mince-puff.html [R=301,NC]
RewriteRule ^post/oreo-ice-cream-cake.aspx$ /oreo-ice-cream-cake.html [R=301,NC]
RewriteRule ^post/tahari-.aspx$ /tahari-.html [R=301,NC]
RewriteRule ^post/pav-bhaji.aspx$ /pav-bhaji.html [R=301,NC]
RewriteRule ^post/sweet-and-sour-chicken.aspx$ /sweet-and-sour-chicken.html [R=301,NC]
RewriteRule ^post/onion-rings.aspx$ /onion-rings.html [R=301,NC]
RewriteRule ^post/tomato-soup.aspx$ /tomato-soup.html [R=301,NC]
RewriteRule ^post/qubani-ka-meetha-or-sweetened-apricot-dessert.aspx$ /qubani-ka-meetha-or-sweetened-apricot-dessert.html [R=301,NC]
RewriteRule ^post/ande-ka-khagina-(indian-scramble-egg).aspx$ /ande-ka-khagina-(indian-scramble-egg).html [R=301,NC]
RewriteRule ^post/khichdi.aspx$ /khichdi.html [R=301,NC]
RewriteRule ^post/indo-chinese-vermicelli.aspx$ /indo-chinese-vermicelli.html [R=301,NC]
RewriteRule ^post/scrambled-eggs.aspx$ /scrambled-eggs.html [R=301,NC]
RewriteRule ^post/tandoori-chicken.aspx$ /tandoori-chicken.html [R=301,NC]
RewriteRule ^post/chicken-tikka-masala.aspx$ /chicken-tikka-masala.html [R=301,NC]
RewriteRule ^post/masoor-dal(red-lentil)-curry.aspx$ /masoor-dal(red-lentil)-curry.html [R=301,NC]
RewriteRule ^post/banana-berry-smoothie.aspx$ /banana-berry-smoothie.html [R=301,NC]
RewriteRule ^post/sheer-kurma(vermicelli-pudding).aspx$ /sheer-kurma(vermicelli-pudding).html [R=301,NC]
RewriteRule ^post/hakka-noodles.aspx$ /hakka-noodles.html [R=301,NC]
RewriteRule ^post/green-chicken-curry.aspx$ /green-chicken-curry.html [R=301,NC]
RewriteRule ^post/bagara-khana(rice).aspx$ /bagara-khana(rice).html [R=301,NC]
RewriteRule ^post/brownie-trifle.aspx$ /brownie-trifle.html [R=301,NC]
RewriteRule ^post/skillet-lasagna.aspx$ /skillet-lasagna.html [R=301,NC]
RewriteRule ^post/french-beans-and-potato-curry.aspx$ /french-beans-and-potato-curry.html [R=301,NC]
RewriteRule ^post/banana-bread.aspx$ /banana-bread.html [R=301,NC]
RewriteRule ^post/creamy-pudding.aspx$ /creamy-pudding.html [R=301,NC]
RewriteRule ^post/kidney-beans(rajma-curry).aspx$ /kidney-beans(rajma-curry).html [R=301,NC]
RewriteRule ^post/mac-and-cheese.aspx$ /mac-and-cheese.html [R=301,NC]
RewriteRule ^post/strawberry-shake.aspx$ /strawberry-shake.html [R=301,NC]
RewriteRule ^post/chicken-chick-pea-curry.aspx$ /chicken-chick-pea-curry.html [R=301,NC]
RewriteRule ^post/indian-spicy-maggie-noodles.aspx$ /indian-spicy-maggie-noodles.html [R=301,NC]
RewriteRule ^post/lamb-potato-spinach-curry(aloo-palak-gosht).aspx$ /lamb-potato-spinach-curry(aloo-palak-gosht).html [R=301,NC]
RewriteRule ^post/chicken-65.aspx$ /chicken-65.html [R=301,NC]
RewriteRule ^post/chole-(chick-pea-masala).aspx$ /chole-(chick-pea-masala).html [R=301,NC]
RewriteRule ^post/puri-or-poori-recipe-fried-bread.aspx$ /puri-or-poori-recipe-fried-bread.html [R=301,NC]
RewriteRule ^post/chocolate-chip-cookies.aspx$ /chocolate-chip-cookies.html [R=301,NC]
RewriteRule ^post/white-chicken-korma.aspx$ /white-chicken-korma.html [R=301,NC]
RewriteRule ^post/rabri.aspx$ /rabri.html [R=301,NC]
RewriteRule ^post/dal-gosht(lentil-and-meat)-curry.aspx$ /dal-gosht(lentil-and-meat)-curry.html [R=301,NC]
RewriteRule ^post/aloo-tikki(potato-cutlet).aspx$ /aloo-tikki(potato-cutlet).html [R=301,NC]
RewriteRule ^post/cauliflower(gobi)-manchurian.aspx$ /cauliflower(gobi)-manchurian.html [R=301,NC]
RewriteRule ^post/achari-murgh.aspx$ /achari-murgh.html [R=301,NC]
RewriteRule ^post/chicken-spring-rolls.aspx$ /chicken-spring-rolls.html [R=301,NC]
RewriteRule ^post/egg-biryani.aspx$ /egg-biryani.html [R=301,NC]
RewriteRule ^post/pancake.aspx$ /pancake.html [R=301,NC]
RewriteRule ^post/cherry-shake.aspx$ /cherry-shake.html [R=301,NC]
RewriteRule ^post/veggie-pulao.aspx$ /veggie-pulao.html [R=301,NC]
RewriteRule ^post/fruits-custard.aspx$ /fruits-custard.html [R=301,NC]
RewriteRule ^post/egg-puff.aspx$ /egg-puff.html [R=301,NC]
RewriteRule ^post/tomato-chutney.aspx$ /tomato-chutney.html [R=301,NC]
RewriteRule ^post/mutton-biryani.aspx$ /mutton-biryani.html [R=301,NC]
RewriteRule ^post/nutella-filled-strawberries.aspx$ /nutella-filled-strawberries.html [R=301,NC]
RewriteRule ^post/microwave-pineapple-pastry.aspx$ /microwave-pineapple-pastry.html [R=301,NC]
RewriteRule ^post/butter-chicken.aspx$ /butter-chicken.html [R=301,NC]
RewriteRule ^post/chocolate-biscuit-pudding.aspx$ /chocolate-biscuit-pudding.html [R=301,NC]
RewriteRule ^post/pea-pulao.aspx$ /pea-pulao.html [R=301,NC]
RewriteRule ^post/liver-masala(kaleji-masala).aspx$ /liver-masala(kaleji-masala).html [R=301,NC]
RewriteRule ^post/triple-berry-smoothie.aspx$ /triple-berry-smoothie.html [R=301,NC]
RewriteRule ^post/bread-sandwich.aspx$ /bread-sandwich.html [R=301,NC]
RewriteRule ^post/upma-.aspx$ /upma-.html [R=301,NC]
RewriteRule ^post/gulab-jamun-diwali-special.aspx$ /gulab-jamun-diwali-special.html [R=301,NC]
RewriteRule ^post/caramel-pudding.aspx$ /caramel-pudding.html [R=301,NC]
RewriteRule ^post/potato-muttor-curry.aspx$ /potato-muttor-curry.html [R=301,NC]
RewriteRule ^post/veggie-cutlet-.aspx$ /veggie-cutlet-.html [R=301,NC]
RewriteRule ^post/tomato-pulao.aspx$ /tomato-pulao.html [R=301,NC]
RewriteRule ^post/fruit-trifle.aspx$ /fruit-trifle.html [R=301,NC]
RewriteRule ^post/dahi-ki-khadi.aspx$ /dahi-ki-khadi.html [R=301,NC]
RewriteRule ^post/chicken-curry.aspx$ /chicken-curry.html [R=301,NC]
RewriteRule ^post/oreo-milkshake.aspx$ /oreo-milkshake.html [R=301,NC]
RewriteRule ^post/dreamwhip-fruit-trifle.aspx$ /dreamwhip-fruit-trifle.html [R=301,NC]
RewriteRule ^post/kheema.aspx$ /kheema.html [R=301,NC]
RewriteRule ^post/banana-royale-sundae.aspx$ /banana-royale-sundae.html [R=301,NC]
RewriteRule ^post/french-toast.aspx$ /french-toast.html [R=301,NC]
RewriteRule ^post/tomato-mutton.aspx$ /tomato-mutton.html [R=301,NC]
RewriteRule ^post/chicken-biryani-ii.aspx$ /chicken-biryani-ii.html [R=301,NC]
RewriteRule ^post/cold-coffee.aspx$ /cold-coffee.html [R=301,NC]
RewriteRule ^post/kabsa-1.aspx$ /kabsa-1.html [R=301,NC]
RewriteRule ^post/veg-schezwan-noodles.aspx$ /veg-schezwan-noodles.html [R=301,NC]
RewriteRule ^post/mini-veg-pizza-i.aspx$ /mini-veg-pizza-i.html [R=301,NC]
RewriteRule ^post/crispy-fried-chicken.aspx$ /crispy-fried-chicken.html [R=301,NC]
RewriteRule ^post/butter-paneer.aspx$ /butter-paneer.html [R=301,NC]
RewriteRule ^post/vanilla-sponge-cake.aspx$ /vanilla-sponge-cake.html [R=301,NC]
RewriteRule ^post/fried-meat.aspx$ /fried-meat.html [R=301,NC]
RewriteRule ^post/mango-smoothie.aspx$ /mango-smoothie.html [R=301,NC]
RewriteRule ^post/tomato-chicken.aspx$ /tomato-chicken.html [R=301,NC]
RewriteRule ^post/potato-and-cheese-croquettes.aspx$ /potato-and-cheese-croquettes.html [R=301,NC]
RewriteRule ^post/hummus.aspx$ /hummus.html [R=301,NC]
RewriteRule ^post/chicken-fried-rice.aspx$ /chicken-fried-rice.html [R=301,NC]
RewriteRule ^post/chocolate-shake.aspx$ /chocolate-shake.html [R=301,NC]
RewriteRule ^post/yoghurt-chicken.aspx$ /yoghurt-chicken.html [R=301,NC]
RewriteRule ^post/rusk-rabdi.aspx$ /rusk-rabdi.html [R=301,NC]
RewriteRule ^post/chocolate-cake.aspx$ /chocolate-cake.html [R=301,NC]
RewriteRule ^post/mango-rasmalai.aspx$ /mango-rasmalai.html [R=301,NC]
RewriteRule ^post/chicken-biryani.aspx$ /chicken-biryani.html [R=301,NC]
